.nodetree {
  // height: 100vh;
  &__container {
    // border: 1px solid black;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;

    &__title {
      padding: 1rem 2rem;
      &--text {
        font-size: 2rem;
      }
    }

    &__table {
      padding: 2rem;
      margin: 2rem 0rem;
      font-size: 1.5rem;

      &__row {
        max-width: 11.7rem;

        &--field {
          width: 100%;
        }
      }
      //Error div
      &__error {
        height: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        border-radius: 5px;
        &__block {
          display: flex;
          background-color: rgb(250, 174, 174);
          height: 100%;
          width: 100%;

          &--error {
            margin: 0 auto;
            font-size: 2rem;
          }
        }
      }
      &__block {
        display: flex;
        justify-content: space-between;
        border: 1px solid $color-grey-light-2;
        padding: 2rem;
      }

      &__main {
        border-right: 1px solid black;
      }

      &__form {
        // border: 1px solid black;
        padding: 0rem 1rem;
      }
    }
  }
}
